body {
  text-align: center;
  font-family: sans-serif;
  background-color: #272727;
}




h3{
  margin: 0;
  font-size: 35px;
  margin-bottom: 20px;
  color: yellow
}

h5{
  margin: 0;
  font-size: 25px;
  margin-bottom: 35px;
  color: #6a6aff;
}

p{
  margin: 0;
  font-size: 25px;
  color: white;
  font-weight: bold;
  margin: 0;
  display: inline-block;

}
p:nth-child(7){
  width: 35px;
}

span {
  margin:0 5px;
  color: red;
  font-size: 25px;
  font-weight: bold;

}
.timeBox{
  margin-bottom: 20px;
}
img{
  width: 350px;
  height: auto;
}
